<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/main.css" type="text/css">

    <title>NodeBoard</title>
</head>

<body>

    <div class="container">
        <h1 class="t-h">New Register</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">                    
                    <div class="panel-body">
                        <form role="form" action="/add" method="post" id="register">
                            
                            <div class="form-group">
                                <label>제목</label> <input class="form-control" name='title' required>
                            </div>
                            
                            <div class="form-group">
                                <label>내용</label>
                                <input class="form-control register-content" rows="10" name='content' required></input>
                            </div>
        
                            <div class="form-group">
                                <label>작성자</label> <input class="form-control" name='writer' required>
                            </div>
    
                            
                        </form>
                        <button type="submit" class="btn btn-primary register-btn" form="register" >글 등록</button>
                        <button class="btn btn-success register-btn" onclick="location.href='/'">목록으로</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    
</body>

</html>