<div class="container user-session">
    <a href="/">Home</a>
    
    <div class="userState">
        <% if(user == "비회원") { %>
            <p>현재 비회원 상태 입니다.</p>
            <button class="btn btn-warning login-btn"
                onclick="location.href='/login'">로그인</button>
        <% } else { %>
            <p><%= user.id %> 님 환영합니다.</p>
            <button class="btn btn-warning register-btn" onclick="location.href='/logout'">로그아웃</button>
            <input class="user-id" value="<%= user.id %>" style="display: none;"></input>
        <% } %>
    </div>
</div>