

table {
    border-collapse: collapse;
}

.cart-background {
    width: 100%;
    background-color: #b6dcf5;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cart-table td, .cart-table th {
    padding: 15px;
    border-bottom: 1px solid #b6dcf5;
    text-align: center;
    
}

.cart-table th:nth-child(2) {
    width: 500px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover {
    
}