body{
  overflow-y: scroll;
}

.logo {
  color: black;
  margin-top: 20px;
}



.header {
  text-align: center;
}

.header h1 {
  margin-top: 1px;
}

.main_container {
  text-align: center;
}

.list_list {
  text-align: center;
  padding: 0px;
  margin-bottom: 50px;
}

.list_title {
  margin-bottom: 0px;
}

.li_btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.li_btn.active,
.li_btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.list_list li {
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.card {
  margin: 20px 10px 10px 10px;
  border: none;
  width: 250px;
  height: 406px;
}

.card_p {
  width: 250px;
  text-align: center;
  border-bottom: solid 2px black;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.content {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 300px;
}

.card_explanation {
  width: 250px;
  height: 375px;
  background-color: black;
  z-index: 1;
  position: absolute;
  opacity: 0;
}

.card_explanation:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.card_img {
  max-width: 250px;
  max-height: 375px;
  z-index: 0;
}

.card_explanation_p {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}

@media only screen and (max-width: 740px) {
  .content{
    padding: 0px 100px;
  }

}

@media only screen and (max-width: 641px) {
  .content img {
    width: 200px
  }

  .card {
    width: 200px;
  }
}

