<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>ryu.gg</title>
</head>

<body>

    <%- include('nav.html') %>


        듀오구함페이지
</body>

</html>