<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryu</title>
    <script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/ie.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>

    <figure>
        <h1 class="title">
            <strong>Ryu Jae Hyun</strong>
        </h1>
        <p>2022 Made by Ryu</p>

        <section>
            <article class="on">
                <div class="inner">
                    <div class="about-me">
                        <img class="me-img" src="img/유재현-1.jpg">
                        <div class="me-text">
                            <h3>
                                이름 : 유재현  <br>
                                나이 : 32살 (91년생) <br>
                                학력 : 고졸
                            </h3>
                            <p>(서울사이버대 컴공과 22학번 재학중)</p>
                            <h3>
                                주소 : 서울 노량진동 <br>
                                이메일 : uhas2003@naver.com <br>
                                연락처 : 010-7585-7311
                            </h3>
                        </div>
                    </div>
                </div>
            </article>

            <article>
                <div class="inner">
                    <div class="skill">
                        <h1>
                            <strong>Skill</strong>
                        </h1>
                        <div class="skill-content">
                            <p>
                                이젠아카데미 송파점<br>
                                백엔드 교육과정 수료 Java, Spring<br>
                                및 책,인강으로 독학중
                            </p>
                            <div class="skill-content-img">
                                <img src="img/file_type_html_icon_130541.png">
                                <img src="img/file_type_css_icon_130661.png">
                                <img src="img/javascript_icon_130900.png">
                                <img src="img/node_icon_198061.png">
                                <img src="img/react_original_wordmark_logo_icon_146375.png">
                                <img src="img/sql-file-rounded-rectangular-outlined-interface-symbol_icon-icons.com_57503.png">
                                <img src="img/java_plain_wordmark_logo_icon_146457.png">
                                <img src="img/spring.png">
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article>
                <div class="inner">
                    3
                </div>
            </article>
            
            <article>
                <div class="inner">
                    4
                </div>
            </article>

            <article>
                <div class="inner">
                    5
                </div>
            </article>

            <article>
                <div class="inner">
                    6
                </div>
            </article>
            
        </section>

        <div class="btnPrev">
            <i class="fas fa-angle-left"></i>
        </div>
        <div class="btnNext">
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="slide-btn">
            <div class="sbtn active"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
            <div class="sbtn"></div>
        </div>
    </figure>

    <script>
        const frame = document.querySelector("section");
        const lists = document.querySelectorAll("article");
        const sbtn = document.querySelectorAll(".sbtn");
        const deg = 60;
        const len = lists.length -1;
        let i = 0;

        for (let el of lists) {
            el.style.transform = `rotate(${deg*i}deg) translateY(-100vh)`;
            i++;
        }

        const prev = document.querySelector(".btnPrev");
        const next = document.querySelector(".btnNext");

        let num = 0;
        let active = 0;

        function activation(index, lists){
            for (let el of lists){
                el.classList.remove("on");
            }
            lists[index].classList.add("on");
        }

        function activesbtn(index, sbtn){
            for(let el of sbtn) {
                el.classList.remove("active");
            }
            sbtn[index].classList.add("active");
        }

        prev.addEventListener("click", ()=>{
            num++;
            frame.style.transform = `rotate(${deg * num}deg)`;
            
            (active == 0) ? active = len : active--;
            activation(active, lists);
            activesbtn(active, sbtn);
        });

        next.addEventListener("click", ()=>{
            num--;
            frame.style.transform = `rotate(${deg * num}deg)`;

            (active == len) ? active = 0 : active++;
            activation(active, lists);
            activesbtn(active, sbtn);
        });

        
    </script>
</body>
</html>